div.employees {
    background-color: gray;
    box-shadow: inset 3%, 3%, 3%;
}

nav {
    width: 100%;
    height: 25%;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

div.slate {
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    width: 80%;
    height: 15%;
    color: white;
    transition-duration: 1s;
    padding: 1%;
    margin-top: 3%;
    opacity: 75%;
}

div.slate:hover {
    transition: 1s;
    width: 80%;
    height: 20%;
    z-index: 1;
    opacity: 100%;
}

div.clicker {
    position: fixed;
    margin-left: 80%;
    margin-right: 10%;
    margin-top: 80%;
    margin-bottom: 0%;
    background-color: black;
    width: 15%;
    height: 15%;
    color: white;
    transition-duration: 1s;
    padding: 1%;
    z-index: 5;
}

button {
    border: none;
    background-color: azure;
    color: black;
}

img {
    object-fit: fill;
    width: 25vw;
    height: 25vw;
    margin-right: 35%;
    margin-left: 35%;
}
